<a href="https://colab.research.google.com/github/kimmybelz/Programming-Code/blob/main/Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Intro to Python Programming

In [1]:
#Python Indention
if 5>2:
  print("Five is greater than two")

Five is greater than two

###Python Variable

In [2]:
x = 1
a, b = 0, 1
a,b,c= 0,1,2
print(x)
print(a)
print(b)
print(c)

1
0
1
2

In [3]:
d = "Sally" #This is a string
D = "Ana"
print(d)
e= 'John'
print(e)
print(D)

Sally
John
Ana

###Casting

In [4]:
f = float(4)
print(f)
g = int(5)
print(g)

4.0
5

###Multiple Variables with One Value

In [5]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [6]:
x = "enjoying"
print("Python Programming is" " " + x)

Python Programming is enjoying

###Operation in Python

In [7]:
x = 5
y = 7
print(x+y)
print(x*y)
print(x)

12
35
5